## DATA CLEANING

In [1]:
import pandas as pd 
import numpy as np
#abro el documento
df= pd.read_csv("INPUTS/originaldataCITES.csv")

In [2]:
df
df.columns

Index(['Year', 'App.', 'Taxon', 'Class', 'Order', 'Family', 'Genus',
       'Importer', 'Exporter', 'Origin', 'Importer reported quantity',
       'Exporter reported quantity', 'Term', 'Unit', 'Purpose', 'Source'],
      dtype='object')

In [3]:
df = df.drop(columns= ["App.", "Order", "Family", "Genus", "Importer reported quantity", "Exporter reported quantity", "Term", "Origin", "Unit"])

In [4]:
display(df)

       Year                 Taxon     Class Importer Exporter Purpose Source
0      2016        Aquila heliaca      Aves       TR       NL       T      C
1      2016        Aquila heliaca      Aves       XV       RS       Q      O
2      2016  Haliaeetus albicilla      Aves       BE       NO       S      W
3      2016  Haliaeetus albicilla      Aves       BE       NO       S      W
4      2016  Haliaeetus albicilla      Aves       DK       IS       S      W
...     ...                   ...       ...      ...      ...     ...    ...
67156  2017          Canis aureus  Mammalia       US       ET       H      W
67157  2017     Sarcoramphus papa      Aves       JP       PE       T      F
67158  2017       Daboia russelii  Reptilia       RS       IT       T      F
67159  2017   Civettictis civetta  Mammalia       FR       ET       T      R
67160  2017   Civettictis civetta  Mammalia       KR       ET       T      R

[67161 rows x 7 columns]

In [5]:
df.isnull().sum().sort_values(ascending=True)

Year            0
Taxon           0
Importer       71
Source        544
Exporter      573
Purpose      6059
Class       20224
dtype: int64

In [6]:
df.drop(df[df['Source'] == "A"].index, inplace = True)
df.drop(df[df['Purpose'] == "G"].index, inplace = True)

df.dropna(subset=['Exporter'], inplace=True)
df.dropna(subset=['Importer'], inplace=True)
df.dropna(subset=['Purpose'], inplace=True)
df.dropna(subset=['Source'], inplace=True)
df.dropna(subset=['Class'], inplace=True)

In [7]:
df.shape

(45835, 7)

In [8]:
df.isnull().sum().sort_values(ascending=True)

Year        0
Taxon       0
Class       0
Importer    0
Exporter    0
Purpose     0
Source      0
dtype: int64

In [9]:
df.shape

(45835, 7)

In [10]:
df.Purpose.value_counts()

T    33475
P     5311
S     2057
H     1770
M      862
Q      834
Z      775
B      330
E      295
L       80
N       46
Name: Purpose, dtype: int64

In [11]:
df.isnull().sum().sort_values(ascending=True)

Year        0
Taxon       0
Class       0
Importer    0
Exporter    0
Purpose     0
Source      0
dtype: int64

In [12]:
round(df['Source'].value_counts(normalize=True) * 100).head()

W    42.0
C    35.0
F    10.0
I     4.0
R     4.0
Name: Source, dtype: float64

In [13]:
df.shape

(45835, 7)

In [18]:
pd.set_option('display.max_rows', None)
round(df['Taxon'].value_counts(normalize=True) * 100).head()

Crocodylus niloticus          5.0
Python reticulatus            5.0
Alligator mississippiensis    4.0
Crocodylus porosus            3.0
Varanus salvator              2.0
Name: Taxon, dtype: float64

In [19]:
round(df['Class'].value_counts(normalize=True) * 100).head()

Reptilia       39.0
Anthozoa       19.0
Mammalia       17.0
Aves           15.0
Actinopteri     6.0
Name: Class, dtype: float64

In [21]:
round(df['Importer'].value_counts(normalize=True) * 100)

US    17.0
JP     6.0
HK     4.0
CN     4.0
FR     3.0
DE     3.0
CH     3.0
AE     3.0
CA     2.0
SG     2.0
KR     2.0
IT     2.0
GB     2.0
TW     2.0
RU     2.0
TR     2.0
MY     1.0
QA     1.0
ES     1.0
MX     1.0
NO     1.0
NL     1.0
TH     1.0
NZ     1.0
DK     1.0
ZA     1.0
KW     1.0
AT     1.0
AU     1.0
PH     1.0
BR     1.0
XX     1.0
UA     1.0
BE     1.0
ID     1.0
SA     1.0
IL     1.0
CL     1.0
CZ     1.0
BH     1.0
OM     1.0
AR     1.0
IR     1.0
LB     1.0
MO     1.0
VN     1.0
IN     0.0
PL     0.0
KZ     0.0
SE     0.0
MC     0.0
PK     0.0
BD     0.0
JO     0.0
AZ     0.0
MA     0.0
GR     0.0
GT     0.0
UZ     0.0
SM     0.0
PE     0.0
PA     0.0
CR     0.0
EG     0.0
PT     0.0
KP     0.0
RS     0.0
HU     0.0
IE     0.0
BG     0.0
AM     0.0
SN     0.0
GE     0.0
RO     0.0
BL     0.0
NP     0.0
TN     0.0
SK     0.0
TT     0.0
DO     0.0
CO     0.0
MG     0.0
KG     0.0
BY     0.0
BB     0.0
BS     0.0
CY     0.0
IQ     0.0
TM     0.0
FI     0.0
KH     0.0
LT     0.0
AD     0.0
DZ     0.0
NG     0.0
BN     0.0
MU     0.0
MD     0.0
UY     0.0
AO     0.0
LA     0.0
XV     0.0
AW     0.0
MV     0.0
CW     0.0
AL     0.0
JE     0.0
KE     0.0
IS     0.0
VE     0.0
LU     0.0
PY     0.0
LY     0.0
KY     0.0
PF     0.0
CI     0.0
SI     0.0
GU     0.0
LV     0.0
EC     0.0
LK     0.0
MN     0.0
UG     0.0
MK     0.0
SV     0.0
GG     0.0
AN     0.0
ME     0.0
CG     0.0
SX     0.0
ZW     0.0
SR     0.0
EE     0.0
CD     0.0
GH     0.0
NC     0.0
BM     0.0
VG     0.0
MZ     0.0
NI     0.0
MM     0.0
CM     0.0
GI     0.0
LI     0.0
TJ     0.0
PR     0.0
BA     0.0
HN     0.0
GA     0.0
ET     0.0
MW     0.0
CU     0.0
GL     0.0
ZM     0.0
JM     0.0
HR     0.0
SU     0.0
TZ     0.0
MP     0.0
KN     0.0
SZ     0.0
FO     0.0
IM     0.0
LC     0.0
SD     0.0
VA     0.0
SC     0.0
FJ     0.0
YU     0.0
GP     0.0
MR     0.0
TG     0.0
HT     0.0
BW     0.0
CC     0.0
MT     0.0
SY     0.0
RE     0.0
BJ     0.0
NE     0.0
ML     0.0
PG     0.0
BZ     0.0
RW     0.0
ER     0.0
BO     0.0
AG     0.0
TD     0.0
TF     0.0
TK     0.0
GN     0.0
LR     0.0
VI     0.0
DJ     0.0
TL     0.0
GQ     0.0
GY     0.0
DM     0.0
AF     0.0
MF     0.0
YE     0.0
GD     0.0
CF     0.0
MQ     0.0
TC     0.0
Name: Importer, dtype: float64

In [22]:
round(df['Exporter'].value_counts(normalize=True) * 100)

ID    14.0
IT    11.0
US     8.0
FR     7.0
DE     4.0
AU     3.0
SG     3.0
CH     3.0
NL     3.0
CA     2.0
ZA     2.0
GB     2.0
BE     2.0
ES     2.0
AE     2.0
HK     2.0
CN     2.0
JP     1.0
ZW     1.0
FJ     1.0
CZ     1.0
MG     1.0
MC     1.0
MY     1.0
MX     1.0
AT     1.0
GY     1.0
KW     1.0
TO     1.0
PE     1.0
PH     1.0
KR     1.0
DK     1.0
AR     1.0
TR     0.0
TH     0.0
RU     0.0
VN     0.0
QA     0.0
PT     0.0
TZ     0.0
TW     0.0
ZM     0.0
KE     0.0
GL     0.0
SR     0.0
OM     0.0
BR     0.0
UZ     0.0
NO     0.0
NZ     0.0
SE     0.0
UA     0.0
SB     0.0
GR     0.0
UY     0.0
LU     0.0
MZ     0.0
KZ     0.0
JE     0.0
CO     0.0
NI     0.0
MH     0.0
PW     0.0
RS     0.0
PL     0.0
CU     0.0
UG     0.0
TG     0.0
ET     0.0
FM     0.0
ML     0.0
SV     0.0
GH     0.0
BS     0.0
XX     0.0
BH     0.0
HU     0.0
MO     0.0
AM     0.0
MN     0.0
LV     0.0
BB     0.0
MU     0.0
JM     0.0
SI     0.0
BY     0.0
CI     0.0
CD     0.0
FI     0.0
EE     0.0
SA     0.0
KH     0.0
MA     0.0
LB     0.0
TN     0.0
IN     0.0
SD     0.0
PK     0.0
PA     0.0
DO     0.0
BM     0.0
IL     0.0
SK     0.0
RO     0.0
CM     0.0
BG     0.0
IE     0.0
CW     0.0
CK     0.0
BO     0.0
CR     0.0
SN     0.0
MK     0.0
SC     0.0
CL     0.0
KG     0.0
ZZ     0.0
LT     0.0
BJ     0.0
HT     0.0
VE     0.0
RW     0.0
PG     0.0
KY     0.0
MW     0.0
SM     0.0
BZ     0.0
IR     0.0
CG     0.0
IS     0.0
LK     0.0
KN     0.0
HR     0.0
GG     0.0
LA     0.0
GE     0.0
VG     0.0
MT     0.0
TT     0.0
TJ     0.0
JO     0.0
NG     0.0
TC     0.0
EC     0.0
GA     0.0
LR     0.0
CF     0.0
AG     0.0
GQ     0.0
IO     0.0
SY     0.0
MD     0.0
FK     0.0
AZ     0.0
AO     0.0
AQ     0.0
PF     0.0
SX     0.0
NP     0.0
DM     0.0
HN     0.0
LC     0.0
PY     0.0
EG     0.0
GD     0.0
AL     0.0
SH     0.0
YE     0.0
BL     0.0
GS     0.0
VU     0.0
MM     0.0
GN     0.0
VC     0.0
AD     0.0
ST     0.0
GT     0.0
AW     0.0
TD     0.0
KI     0.0
IQ     0.0
BW     0.0
CV     0.0
NC     0.0
CY     0.0
ER     0.0
BD     0.0
MV     0.0
BI     0.0
KM     0.0
LI     0.0
SL     0.0
NE     0.0
TK     0.0
DD     0.0
IM     0.0
FO     0.0
AN     0.0
SZ     0.0
GP     0.0
WS     0.0
LS     0.0
GI     0.0
Name: Exporter, dtype: float64

In [38]:
round(df['Purpose'].value_counts(normalize=True) * 100).head()

T    73.0
P    12.0
S     4.0
H     4.0
M     2.0
Name: Purpose, dtype: float64

In [39]:
round(df['Source'].value_counts(normalize=True) * 100).head()

W    42.0
C    35.0
F    10.0
I     4.0
R     4.0
Name: Source, dtype: float64

In [40]:
df.to_csv("output/CITES.csv")